@import './assets/scss/mixin';
@import './assets/scss/color';
@import './assets/scss/color-shades';
@import './assets/scss/theme';

:root {
  @extend %color-vars;
  @extend %color-shade-vars;
  @include gridValues();
}

// Custom scrollbar
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
::-webkit-scrollbar-track {
  border: none;
  background: $scrollBarTrackColor;
}

::-webkit-scrollbar-thumb {
  border: none;
  background: $scrollBarThumbColor;

  &:hover,
  &:active {
    background: $scrollBarThumbActiveColor;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: var(--color-background);
  color: var(--color-text-dark);
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

a {
  color: var(--color-primary);
  text-decoration: none;

  &:link,
  &:visited,
  &:active {
    color: var(--color-primary);
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }
}

ul {
  list-style: none;
  li {
    list-style: none;
  }
}

/* Currently there is a bug with
Angular material tab-group. mat-tab-group
scrolls to top of page when tab index changes.
This is a workaround while they're fixing it
Reference: https://github.com/angular/components/issues/9592*/
mat-tab-group {
  min-height: 800px;
}
