@import './assets/scss/mixin';
@import './assets/scss/theme';

:root {
  @include gridValues();
  --text-color-light: #{$textLight};
  --text-color-medium: #{$textMedium};
  --text-color-dark: #{$textDark};
  --primary-color: #{$primaryColor};
  --accent-color: #{$accentColor};
  --background-color: #{$backgroundColor};
}

// Custom scrollbar
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
::-webkit-scrollbar-track {
  border: none;
  background: $scrollBarTrackColor;
}

::-webkit-scrollbar-thumb {
  border: none;
  background: $scrollBarThumbColor;

  &:hover,
  &:active {
    background: $scrollBarThumbActiveColor;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: var(--background-color);
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

a {
  color: var(--primary-color);
  text-decoration: none;

  &:link,
  &:visited,
  &:active {
    color: var(--primary-color);
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }
}

ul {
  list-style: none;
  li {
    list-style: none;
  }
}
